force-app/main/default/flows/HSS_ClaimQueryNHIDOB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallqueryclaimstatusAPI</name>
        <label>Call query claim status API</label>
        <locationX>1718</locationX>
        <locationY>325</locationY>
        <actionName>QueryClaimsStatus.claims_2</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_error_response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>claimNumber</name>
            <value>
                <elementReference>ClaimsList.selectedId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>providerId</name>
            <value>
                <elementReference>ACC_Provider_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorId</name>
            <value>
                <elementReference>ACC_Vendor_ID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Returns list of claims</description>
        <name>Query_API_with_NHI_DoB</name>
        <label>Query API with NHI/DoB</label>
        <locationX>945</locationX>
        <locationY>341</locationY>
        <actionName>QueryClaimsStatus.claims_3</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_if_error_response_NHI</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dateOfBirth</name>
            <value>
                <elementReference>formattedDOB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nhi</name>
            <value>
                <elementReference>validNHIInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>providerId</name>
            <value>
                <elementReference>ACC_Provider_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorId</name>
            <value>
                <elementReference>ACC_Vendor_ID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_error_to_message</name>
        <label>Add error to message</label>
        <locationX>1153</locationX>
        <locationY>1017</locationY>
        <assignmentItems>
            <assignToReference>claimErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_errors.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_errors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_API_errors</name>
        <label>Assign API errors</label>
        <locationX>1719</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CallqueryclaimstatusAPI.400Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CallqueryclaimstatusAPI.401Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CallqueryclaimstatusAPI.403Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CallqueryclaimstatusAPI.404Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CallqueryclaimstatusAPI.500Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_errors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_API_errors_to_variable</name>
        <label>Assign API errors to variable</label>
        <locationX>942</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Query_API_with_NHI_DoB.400Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Query_API_with_NHI_DoB.401Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Query_API_with_NHI_DoB.403Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Query_API_with_NHI_DoB.404Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Query_API_with_NHI_DoB.500Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_errors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_claim_status_list</name>
        <label>Assign claim status list</label>
        <locationX>1903</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>queryClaimStatusCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallqueryclaimstatusAPI.200.claimStatusList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_claim_status_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign list of claim statuses from the query</description>
        <name>Assigningclaimsstatusesfromtheinitialquery</name>
        <label>Assigning claims statuses from the initial query</label>
        <locationX>1142</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>queryClaimStatusCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_API_with_NHI_DoB.200.claimStatusList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sorting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_single_claim_status</name>
        <label>Get single claim status</label>
        <locationX>2112</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>queryClaimsStatusSingle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_claim_status_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_claim_status_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Getting saved state.</description>
        <name>HSS_Getting_saved_state</name>
        <label>Getting saved state</label>
        <locationX>1414</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>savedState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClaimsList.savedState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tets</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sorting</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sorting</label>
        <locationX>1229</locationX>
        <locationY>680</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>queryClaimStatusCollection</collectionReference>
        <connector>
            <targetReference>Does_query_return_a_list_of_claims</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>accidentDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_if_error_response_NHI</name>
        <label>Check if error response</label>
        <locationX>938</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Assigningclaimsstatusesfromtheinitialquery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_API_with_NHI_DoB.200.message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_API_errors_to_variable</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_API_return_error</name>
        <label>Does API return error</label>
        <locationX>1709</locationX>
        <locationY>1021</locationY>
        <defaultConnector>
            <targetReference>Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>claimErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Present_the_claim_details_screen</targetReference>
            </connector>
            <label>No error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_query_return_a_list_of_claims</name>
        <label>Does query return a list of claims</label>
        <locationX>1330</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>Patient_summary_display_and_claim_list_view</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queryClaimStatusCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>List is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_user_selected_a_claim</name>
        <label>Has user selected a claim or new search</label>
        <locationX>1530</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>CallqueryclaimstatusAPI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_has_selected_New_search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClaimsList.selectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_claim_screen</targetReference>
            </connector>
            <label>User has selected &apos;New search&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_error_response</name>
        <label>Is error response</label>
        <locationX>1710</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>Assign_claim_status_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallqueryclaimstatusAPI.200.message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_API_errors</targetReference>
            </connector>
            <label>Error response</label>
        </rules>
    </decisions>
    <description>Allows a user to query the claims that have been submitted related to a specific client, identified by NHI number and Date of birth</description>
    <formulas>
        <name>backButtonLabel</name>
        <dataType>String</dataType>
        <expression>IF ({!isInternalUser}, &quot;&lt;Back to client&apos;s claim history&quot;, &quot;&lt;Back to patient’s claim history&quot;)</expression>
    </formulas>
    <formulas>
        <description>This is used to dynamically display the appropriate details header based on the type of user that is viewing the screen.</description>
        <name>detailsHeader</name>
        <dataType>String</dataType>
        <expression>IF ({!isInternalUser}, &quot;Client details&quot;, &quot;Patient details&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formatted for the API request</description>
        <name>formattedDOB</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!validDOBInput}))+ &quot;-&quot; +LPAD(TEXT(MONTH({!validDOBInput})),2,&quot;0&quot;)+ &quot;-&quot; +LPAD(TEXT(DAY({!validDOBInput})),2,&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>informationHeader</name>
        <dataType>String</dataType>
        <expression>IF ({!isInternalUser}, &quot;Client information&quot;, &quot;Patient information&quot;)</expression>
    </formulas>
    <formulas>
        <description>This formula determines if the logged in user is an internal user. If the formula is true, the user is an internal user. If false, the user is an external / community user.</description>
        <name>isInternalUser</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$User.ContactId})</expression>
    </formulas>
    <formulas>
        <description>This is used to display different labels for the search header based on the type of user viewing the screen.</description>
        <name>searchHeader</name>
        <dataType>String</dataType>
        <expression>IF ({!isInternalUser}, &quot;Client search&quot;, &quot;Patient search&quot;)</expression>
    </formulas>
    <formulas>
        <name>validDOBInput</name>
        <dataType>Date</dataType>
        <expression>IF({!isInternalUser}, {!Date_of_Birth_Internal}, {!Date_of_birth_External})</expression>
    </formulas>
    <formulas>
        <description>Ensures the correct input field from the screen is passed to the API - dependent on external or internal user</description>
        <name>validNHIInput</name>
        <dataType>String</dataType>
        <expression>IF({!isInternalUser}, {!NHI_number_Internal}, {!NHI_Number_External})</expression>
    </formulas>
    <interviewLabel>Claim Query NHI &amp; DOB {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Claim Query NHI &amp; DOB</label>
    <loops>
        <name>Loop_over_claim_status_collection</name>
        <label>Loop over claim status collection</label>
        <locationX>2118</locationX>
        <locationY>559</locationY>
        <collectionReference>queryClaimStatusCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_single_claim_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CallAPIforchosenclaimdetails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_errors</name>
        <label>Loop through errors</label>
        <locationX>1150</locationX>
        <locationY>801</locationY>
        <collectionReference>claimStatusErrorList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_error_to_message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Error_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Client_claim_screen</name>
        <label>Client claim screen</label>
        <locationX>946</locationX>
        <locationY>167</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Query_API_with_NHI_DoB</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!searchHeader}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_claim_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Client_claim_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACC_Provider_ID</name>
                    <dataType>String</dataType>
                    <fieldText>ACC Provider ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Incorrect format or length of provider ID entered&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
LEN({!ACC_Provider_ID}) &gt;= 3,
LEN({!ACC_Provider_ID}) &lt;= 8,
REGEX({!ACC_Provider_ID},&quot;[a-zA-Z0-9]+&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Client_claim_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACC_Vendor_ID</name>
                    <dataType>String</dataType>
                    <fieldText>ACC Vendor ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Incorrect format or length of vendor ID entered&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
LEN({!ACC_Vendor_ID}) &gt;= 3,
LEN({!ACC_Vendor_ID}) &lt;= 12,
REGEX({!ACC_Vendor_ID},&quot;[a-zA-Z0-9]+&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SubDetailsHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!detailsHeader}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_claim_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Client_claim_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NHI_number_Internal</name>
                    <dataType>String</dataType>
                    <fieldText>Client NHI number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;A valid number has 3 letters followed by 4 numbers.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!NHI_number_Internal},&quot;[A-Za-z]{3}[0-9]{4}&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isInternalUser</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NHI_Number_External</name>
                    <dataType>String</dataType>
                    <fieldText>Patient NHI number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(238, 0, 30);&quot;&gt;A valid number has 3 letters followed by 4 numbers.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!NHI_Number_External},&quot;[A-Za-z]{3}[0-9]{4}&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isInternalUser</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Client_claim_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth_Internal</name>
                    <dataType>Date</dataType>
                    <fieldText>Client date of birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;Date cannot be in the future.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Birth_Internal} &lt;= TODAY()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isInternalUser</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Date_of_birth_External</name>
                    <dataType>Date</dataType>
                    <fieldText>Patient date of birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;Date cannot be in the future.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_birth_External} &lt;= TODAY()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isInternalUser</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>1362</locationX>
        <locationY>1016</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Attention!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 51, 0);&quot;&gt; {!claimErrorMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 51, 0);&quot;&gt;{!Query_API_with_NHI_DoB.200.message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>New search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Patient_summary_display_and_claim_list_view</name>
        <label>Patient summary display and claim list view</label>
        <locationX>1540</locationX>
        <locationY>567</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HSS_Getting_saved_state</targetReference>
        </connector>
        <fields>
            <name>ClaimsHeaderDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Claim History&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Based on your search for claims submitted for NHI number - &lt;b&gt;{!validNHIInput}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClaimsList</name>
            <extensionName>c:jsonListViewCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFieldNamesRaw</name>
                <value>
                    <stringValue>accidentDate,acc45Number,claimNumber,coverStatus,diagnoses.diagnosisDescription{3}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabelsRaw</name>
                <value>
                    <stringValue>Accident date,ACC45 number,Claim number,Cover status,Diagnosis description, Actions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rawTableData</name>
                <value>
                    <elementReference>serializedClaimStatusCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>View</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypesRaw</name>
                <value>
                    <stringValue>Date,String,String,String,String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortOrderFieldDef</name>
                <value>
                    <stringValue>accidentDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortOrderDirectionDef</name>
                <value>
                    <stringValue>desc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayText</name>
                <value>
                    <stringValue>No records found</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordCountForPagination</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortingEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>idField</name>
                <value>
                    <stringValue>acc45Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>savedState</name>
                <value>
                    <elementReference>savedState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchBarEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchPlaceholder</name>
                <value>
                    <stringValue>Accident type, claim number, diagnosis description, etc…</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>New search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>tets</name>
        <label>tets</label>
        <locationX>1283</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_user_selected_a_claim</targetReference>
        </connector>
        <fields>
            <name>rgtgv</name>
            <fieldText>&lt;p&gt;Saved State: {!savedState}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>389</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Client_claim_screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>CallAPIforchosenclaimdetails</name>
        <label>Call API for chosen claim details</label>
        <locationX>2115</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Does_API_return_error</targetReference>
        </connector>
        <flowName>HSS_ClaimQueryDetailsAPI</flowName>
        <inputAssignments>
            <name>ACC45Number</name>
            <value>
                <elementReference>ClaimsList.selectedId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>claimErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queryClaimSummarySingle</assignToReference>
            <name>queryClaimSummarySingle</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Present_the_claim_details_screen</name>
        <label>Present the claim details screen</label>
        <locationX>2119</locationX>
        <locationY>1017</locationY>
        <flowName>HSS_ClaimQueryDetailsScreen</flowName>
        <inputAssignments>
            <name>acc45Number</name>
            <value>
                <elementReference>queryClaimsStatusSingle.acc45Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accidentDate</name>
            <value>
                <elementReference>queryClaimsStatusSingle.accidentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>coverStatus</name>
            <value>
                <elementReference>queryClaimsStatusSingle.coverStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>partialNHINumber</name>
            <value>
                <elementReference>queryClaimsStatusSingle.partialNHINumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>previousButtonLabel</name>
            <value>
                <elementReference>backButtonLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serializedJSON</name>
            <value>
                <elementReference>serializedDiagnosisCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>serializedClaimStatusCollection</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!queryClaimStatusCollection}</text>
    </textTemplates>
    <textTemplates>
        <name>serializedDiagnosisCollection</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!queryClaimsStatusSingle.diagnoses}</text>
    </textTemplates>
    <variables>
        <description>Variable that is populated if the API returns an error response</description>
        <name>claimErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Claim number passed by the first claim status response from the query, required to call second API</description>
        <name>claimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimStatusErrorList</name>
        <apexClass>ExternalService__QueryClaimsStatus_ApiError</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientVar</name>
        <apexClass>ExternalService__QueryClaims_Patient</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueryClaimSingle</name>
        <apexClass>ExternalService__QueryClaims_Claim</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryClaimsStatusSingle</name>
        <apexClass>ExternalService__QueryClaimsStatus_ClaimStatusResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryClaimStatusCollection</name>
        <apexClass>ExternalService__QueryClaimsStatus_ClaimStatusResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the list of claim summaries</description>
        <name>queryClaimSummaryCollection</name>
        <apexClass>ExternalService__QueryClaimsSummary_QueryClaimSummaryResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryClaimSummarySingle</name>
        <apexClass>ExternalService__QueryClaimsSummary_QueryClaimSummaryResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>savedState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
