force-app/main/default/flows/HSS_ClaimQuerySingle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call Query Claim Status External Service.</description>
        <name>HSS_Call_Query_Claim_Status_ES</name>
        <label>Call Query Claim Status ES</label>
        <locationX>578</locationX>
        <locationY>701</locationY>
        <actionName>QueryClaimsStatus.claims_2</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>HSS_Check_API_Respose_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>claimNumber</name>
            <value>
                <elementReference>ACC45_number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>providerId</name>
            <value>
                <elementReference>idProvider</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorId</name>
            <value>
                <elementReference>idVendor</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assigning Provider And Vendor Id for External.</description>
        <name>HSS_Assigning_Provider_And_Vendor_Id_for_External</name>
        <label>Assigning Provider And Vendor Id for External</label>
        <locationX>782</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>idProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACCProviderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>idVendor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACCVendorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Call_Query_Claim_Status_ES</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Provider And Vendor Id for Internal.</description>
        <name>HSS_Assigning_Provider_And_Vendor_Id_for_Internal</name>
        <label>Assigning Provider And Vendor Id for Internal</label>
        <locationX>415</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>idProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACC_Provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>idVendor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACC_Vendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Call_Query_Claim_Status_ES</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Status Collection.</description>
        <name>HSS_Assigning_Status_Collection</name>
        <label>Assigning Status Collection</label>
        <locationX>772</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>queryClaimStatusCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HSS_Call_Query_Claim_Status_ES.200.claimStatusList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Looping_over_claim_status_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Status Error Collection.</description>
        <name>HSS_Assigning_Status_Error_Collection</name>
        <label>Assigning Status Error Collection</label>
        <locationX>577</locationX>
        <locationY>1107</locationY>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HSS_Call_Query_Claim_Status_ES.400Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HSS_Call_Query_Claim_Status_ES.401Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HSS_Call_Query_Claim_Status_ES.403Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HSS_Call_Query_Claim_Status_ES.404Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatusErrorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HSS_Call_Query_Claim_Status_ES.500Exc.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HSS_Call_Query_Claim_Status_ES.defaultExc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Looping_over_status_error_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Getting Diagnosis Collection.</description>
        <name>HSS_Getting_Diagnosis_Collection</name>
        <label>Getting Diagnosis Collection</label>
        <locationX>1028</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>queryDiagnosisCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queryClaimStatusSingle.diagnoses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Get_the_first_diagnosis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Getting display message for a duplicate claim.</description>
        <name>HSS_Getting_display_message_for_a_duplicate_claim</name>
        <label>Getting display message for a duplicate claim</label>
        <locationX>1383</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>duplicateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Display_detail_screen_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Getting error message for unregistered claim.</description>
        <name>HSS_Getting_error_message_for_unregistered_claim</name>
        <label>Getting error message for unregistered claim</label>
        <locationX>997</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queryDiagnosisSingle.resultError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Getting first diagnosis of claim.</description>
        <name>HSS_Getting_first_diagnosis_of_claim</name>
        <label>Getting first diagnosis of claim</label>
        <locationX>1295</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>queryDiagnosisSingle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HSS_Looping_over_claim_diagnosis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Looping_over_claim_diagnosis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Getting Single Claim Status.</description>
        <name>hSS_Getting_Single_Claim_Status</name>
        <label>Getting Single Claim Status</label>
        <locationX>1333</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>queryClaimStatusSingle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HSS_Looping_over_claim_status_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Looping_over_claim_status_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Getting Summary Error Message.</description>
        <name>HSS_Getting_Summary_Error_Message_0</name>
        <label>Getting Summary Error Message</label>
        <locationX>1123</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HSS_Looping_over_status_error_list.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSS_Looping_over_status_error_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HSS_Reset_Error_Message</name>
        <label>Reset Error Message</label>
        <locationX>735</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reset Variables.</description>
        <name>HSS_Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>995</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>duplicateMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Status</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Get the first diagnosis.</description>
        <name>HSS_Get_the_first_diagnosis</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Get the first diagnosis</label>
        <locationX>1025</locationX>
        <locationY>640</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>queryDiagnosisCollection</collectionReference>
        <connector>
            <targetReference>HSS_Looping_over_claim_diagnosis</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>resultErrorCode</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Check if we are getting a success response.</description>
        <name>HSS_Check_API_Respose_0</name>
        <label>Check API Respose</label>
        <locationX>570</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>HSS_Assigning_Status_Error_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>HSS_Success_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HSS_Call_Query_Claim_Status_ES.200</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSS_Assigning_Status_Collection</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Diagnosis Error Code.</description>
        <name>HSS_Check_Diagnosis_Error_Code</name>
        <label>Check Diagnosis Error Code</label>
        <locationX>1154</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>HSS_Getting_error_message_for_unregistered_claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queryDiagnosisSingle.resultErrorCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSS_Display_detail_screen_subflow</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Unregistered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queryDiagnosisSingle.resultErrorCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM02-003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSS_Getting_error_message_for_unregistered_claim</targetReference>
            </connector>
            <label>Unregistered</label>
        </rules>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queryDiagnosisSingle.resultErrorCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM02-010</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSS_Getting_display_message_for_a_duplicate_claim</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Dropdown to be Shown.</description>
        <name>HSS_Check_if_Dropdown_to_be_Shown</name>
        <label>Check if Dropdown to be Shown</label>
        <locationX>574</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>HSS_Assigning_Provider_And_Vendor_Id_for_Internal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>showDropdown</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSS_Assigning_Provider_And_Vendor_Id_for_External</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If User is Internal.</description>
        <name>HSS_Check_If_User_is_Internal</name>
        <label>Check If User is Internal</label>
        <locationX>574</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>HSS_Check_if_Dropdown_to_be_Shown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HSS_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInternalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSS_Assigning_Provider_And_Vendor_Id_for_Internal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used to query and display the single claim details when provided with claim number, provider id and vendor id.</description>
    <formulas>
        <description>This will determine if current logged in user is an internal user.</description>
        <name>IsInternalUser</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$User.ContactId})</expression>
    </formulas>
    <interviewLabel>Claim Query Single {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Claim Query Single</label>
    <loops>
        <description>Looping over claim status to get diagnosis details.</description>
        <name>HSS_Looping_over_claim_diagnosis</name>
        <label>Looping over claim diagnosis</label>
        <locationX>1024</locationX>
        <locationY>500</locationY>
        <collectionReference>queryDiagnosisCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HSS_Getting_first_diagnosis_of_claim</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HSS_Check_Diagnosis_Error_Code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Looping over claim status collection.</description>
        <name>HSS_Looping_over_claim_status_collection</name>
        <label>Looping over claim status collection</label>
        <locationX>1028</locationX>
        <locationY>924</locationY>
        <collectionReference>queryClaimStatusCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>hSS_Getting_Single_Claim_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HSS_Getting_Diagnosis_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Looping over status error list.</description>
        <name>HSS_Looping_over_status_error_list</name>
        <label>Looping over status error list</label>
        <locationX>863</locationX>
        <locationY>1105</locationY>
        <collectionReference>claimStatusErrorList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HSS_Getting_Summary_Error_Message_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Error_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Claim_Status</name>
        <label>Claim Status</label>
        <locationX>583</locationX>
        <locationY>70</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HSS_Check_If_User_is_Internal</targetReference>
        </connector>
        <fields>
            <name>Claim_Status_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claim_Status_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Heading1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Claim search&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pickListCmp</name>
            <extensionName>c:externalUserVendorProviderIdCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>verticalView</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProvider</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ACCProviderId</assignToReference>
                <name>selectedIdProvider</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ACCVendorId</assignToReference>
                <name>selectedIdVendor</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsInternalUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>showDropdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Empty</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Claim_Status_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claim_Status_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACC_Provider</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ACCProviderId</elementReference>
                    </defaultValue>
                    <fieldText>ACC Provider ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;This value must be at least 3 and no more than 8 characters long.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX( {!ACC_Provider}, &quot;^[a-zA-Z0-9]{3,8}$&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>IsInternalUser</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>showDropdown</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ACC_Vendor</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ACCVendorId</elementReference>
                    </defaultValue>
                    <fieldText>ACC Vendor ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;The vendor ID is invalid; it can only contain letters, numbers, and ‘/’, no more than 12 characters in all.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX( {!ACC_Vendor}, &quot;^[a-zA-Z0-9]{3,12}$&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>IsInternalUser</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>showDropdown</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ACC45_number</name>
                    <dataType>String</dataType>
                    <fieldText>ACC45 or Claim number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;Invalid ACC45/ Claim number&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX( {!ACC45_number}, &quot;[a-zA-Z]{2}[0-9]{5}&quot; ) ||
REGEX( {!ACC45_number}, &quot;^[a-zA-Z0-9]{8,12}$&quot;) || REGEX( {!ACC45_number}, &quot;[a-zA-Z]{1}[0-9]{6}&quot; )</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Claim_Status_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>862</locationX>
        <locationY>181</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HSS_Reset_Error_Message</targetReference>
        </connector>
        <fields>
            <name>attentionHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Attention!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>New search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>185</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Claim_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Display detail screen subflow.</description>
        <name>HSS_Display_detail_screen_subflow</name>
        <label>Display detail screen subflow</label>
        <locationX>1162</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>HSS_Reset_Variables</targetReference>
        </connector>
        <flowName>HSS_ClaimQueryDetailsScreen</flowName>
        <inputAssignments>
            <name>acc45Number</name>
            <value>
                <elementReference>queryClaimStatusSingle.acc45Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acc45ORClaimNumber</name>
            <value>
                <elementReference>ACC45_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accidentDate</name>
            <value>
                <elementReference>queryClaimStatusSingle.accidentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>coverStatus</name>
            <value>
                <elementReference>queryClaimStatusSingle.coverStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>partialNHINumber</name>
            <value>
                <elementReference>queryClaimStatusSingle.partialNHINumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serializedJSON</name>
            <value>
                <elementReference>serializedDiagnosisCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showSearchResultSection</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>duplicateErrorMessage</name>
            <value>
                <elementReference>duplicateMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Error message to be dispalyed in case of a duplicate claim.</description>
        <name>duplicateErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;Attention! &lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;The ACC45/claim number used for your query belongs to a duplicate claim. Please use&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;{!queryClaimStatusSingle.acc45Number} &lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;, the master record for this claim, going forward. Details displayed below are from the master record.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>serializedDiagnosisCollection</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!queryClaimStatusSingle.diagnoses}</text>
    </textTemplates>
    <variables>
        <name>ACCProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ACCVendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimStatusErrorList</name>
        <apexClass>ExternalService__QueryClaimsStatus_ApiError</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Message to be displayed in case of a duplicate claim.</description>
        <name>duplicateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idVendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryClaimStatusCollection</name>
        <apexClass>ExternalService__QueryClaimsStatus_ClaimStatusResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryClaimStatusSingle</name>
        <apexClass>ExternalService__QueryClaimsStatus_ClaimStatusResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryDiagnosisCollection</name>
        <apexClass>ExternalService__QueryClaimsStatus_ClaimStatusDiagnosis</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>First diagnosis of a claim.</description>
        <name>queryDiagnosisSingle</name>
        <apexClass>ExternalService__QueryClaimsStatus_ClaimStatusDiagnosis</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serializedJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>When true, dropdown will be shown to select vendor and provider id otherwise we will see free text fields.</description>
        <name>showDropdown</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
